[submodule "roadusp-backend"]
	path = roadusp-backend
	url = https://github.com/Augusto-Ildefonso/roadusp-backend
	branch = production
[submodule "roadusp-frontend"]
	path = roadusp-frontend
	url = https://github.com/Augusto-Ildefonso/roadusp-frontend
	branch = production
[submodule "roadusp-scraper"]
	path = roadusp-scraper
	url = https://github.com/Augusto-Ildefonso/roadusp-scraper
